* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.logo {
    color: white;
    margin: 0px 32px;
    font-weight: bold;
}

.sp-1 {
    color: rgb(0, 0, 255);
    /* color:black; */

    font-size: 23px;
}

.sp-2 {
    color: black;
    font-size: 23px;
}

.sp-3 {
    color: rgb(0, 0, 255);
    font-size: 23px;

}

.sp-4 {
    color: rgb(0, 0, 255);
}

.navv {
    margin: 0px auto;
    display: flex;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0%;
    cursor: pointer;
    background-color: white;

}

.navlist {
    font-family: "Ubuntu", sans-serif;
    display: flex;
    width: 80%;
    align-items: center;
    font-size: 16px;
    color: black;
}

.navlist li {
    list-style: none;
    padding: 20px 30px;
}

.navlist li a {
    text-decoration: none;
    color: black;
}

.navlist li a:hover {
    color: blue;
    /* text-decoration: underline; */
    transition: 0.2s all ease-in;
    text-shadow: 1px 1px 2px blue;
}

.rightnav {
    width: 20%;
    text-align: right;
    padding: 0px 20px;

}

#search {
    padding: 5px;
    font-size: 14px;
    border: 2px solid gray;
    border-radius: 8px;

}

.background {
    background: rgb(0, 0, 0, 0.0) url(https://images.unsplash.com/photo-1518655048521-f130df041f66?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-blend-mode: darken;
    background-position: center center;
}

.firstsection {
    height: 100vh;
}

.box-main {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    /* margin: auto; */
    height: 80%;

}

.first-half {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.secoond-half {
    width: 30%;


}

.second-half img {
    margin: 10vh 1px;
    width: 42vh;
    height: 15vw;
}

.text-big {
    font-size: 40px;

}

.text-small {
    font-size: 18px;

}

.btn-se {
    padding: 6px 15px;
    margin: 7px 3px;
    border: 2px solid white;
    background-color: blue;
    border-radius: 8px;
    color: white;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}

.btn-se:hover {
    background-color: white;
    color: rgb(0, 0, 0);
    border: 2px solid gray;

}


.btn {
  
    padding: 6px 15px;
    margin: 7px 3px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 15px;
    background: none;
    color: black;
    cursor: pointer;
}

.btn:hover {
    border: 2px solid gray;
    color: black;
    background: blue;
    color: white;
    transition: 0.2s all ease-in;
}


.btn-sm {
    padding: 4px 10px;
    vertical-align: middle;

}

.head {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    margin-top: 20px;
    margin-bottom: 45px;
}

.about-1 {
    display: flex;
}

.pro {
    /* background-color: pink; */
    width: 50%;
    margin: 2vw 1vw;
    /* padding: 25px 130px; */
    padding-left: 16rem;

    box-sizing: border-box;
}

.team {
    /* background-color: pink; */
    width: 50%;
    box-sizing: border-box;
    margin: 2vw 1vw;
    padding-right: 10rem;

}

.team-img {
    width: 100px;
    height: 90px;
    border-radius: 50%;
}

.team-m {
    display: flex;
    flex-direction: row-reverse;
    margin: 2vh auto;
    padding: 1vh 10vh;
    gap: 30px;
}

.m-1>a {
    color: black;
    text-decoration: none;
}

.m-1>a:hover {
    color: blue;
}


.section {
    /* height: 400px; */
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: 35px auto;
    font-family: "Ubuntu", sans-serif;
}

.left {
    flex-direction: row-reverse;
}

.para {
    padding: 0px 65px;
}

.sectionsubtag {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.thumbnail img {
    width: 250px;
    border: 2px solid black;
    border-radius: 25px;
    margin-top: 15px;
}

.sectiontag {
    padding: 16px 0px;
}

.contact {
    height: 54vh;
    background: #f6f5f4;
}

.read-m {
    background-color: #2c7bfe;
    ;
    display: flex;
}

.read-m img {
    width: 90vh;
    margin: 50px 0px;
    margin-left: 50px;
}

.content-md {
    color: white;
    display: flex;
    flex-direction: column;
    margin: 38px 55px;
    padding-right: 40px;
}

.form {
    max-width: 60%;
    margin: auto;
}

.form input {
    width: 100%;
    font-size: 16px;
    border: 2px solid grey;
    border-radius: 6px;
    margin-top: 25px;
    padding: 2px 10px;
}

.form2 {
    height: 10vh;
    width: 100%;
    font-size: 16px;
    border: 2px solid grey;
    border-radius: 6px;
    margin-top: 25px;
    padding: 2px 10px;

}

.btn-dark {
    color: rgb(255, 255, 255);
    background-color: rgb(36, 36, 184);
    border: 1px solid black;
    position: relative;
    left: 36vh;
    margin: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    box-sizing: border-box;
}

.btn-black {
    color: white;
    background-color: black;
    width: 123px;
    padding: 7px;

}

.footers {
    height: 4vh;
    color: white;
    background: black;
    padding: 13px 0px;

}

.burger {
    color: black;
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 15px;
    justify-content: center;
    align-items: center;
    opacity: 0;

}

.line {
    width: 33px;
    background-color: rgb(0, 0, 0);
    height: 4px;
    margin: 3px 3px;
}

.text-centre-1 {
    padding: 18px;
    text-align: center;

}

.text-centre {
    text-align: center;
}

.sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.svg-icon {
    width: 30px;
    margin: auto 34px;
}




@media only screen and (max-width:1140px) {
    .navlist {
        flex-direction: column;
    }

    .navbar {
        background-color: rgb(221, 217, 217);
        flex-direction: column;
        height: 450px;
        transition: all 0.3s ease-in-out
    }

    .burger {
        opacity: 1;
    }

    .rightnav {
        text-align: center;
    }

    .h-nav-resp {
        height: 58px;
    }

    .v-class-resp {
        opacity: 0;
    }

    .box-main {
        flex-direction: row-reverse;
        max-width: 100%;
    }

    .section {
        flex-direction: column-reverse;

    }

    .text-small {
        text-align: center;
    }

    .text-big {
        text-align: center;
    }

    .buttons {
        text-align: center;
    }

    .para {
        padding: 0;
    }
}





aside {
    /* margin-right: -63px; */

    display: grid;
    place-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    width: 100%;
    padding: 0px 0px 60px 0px;
    text-align: center;
}

.card {
    width: 80%;
    height: 80%;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%, #2c7bfe 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    color: #1f194c;
    margin: 1em 0;
}

.section-heading {
    margin: 40px;
}

p {
    /* color: #575a7b; */
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
}

.icon-wrapper {
    background-color: #2c7bfe;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
}

.card:hover {
    background-position: 0 100%;
}

.card:hover .icon-wrapper {
    background-color: #ffffff;
    color: #2c7bfe;
}

.card:hover h3 {
    color: #ffffff;
}

.card:hover p {
    color: #f0f0f0;
}

@media screen and (min-width: 768px) {
    aside {
        padding: 0 2em;
    }

    .column {
        flex: 0 50%;
        max-width: 50%;
    }
}

@media screen and (min-width: 992px) {
    aside {
        padding: 1em 3em;
    }

    .column {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}